@CHARSET "US-ASCII";

body{
	background-image:url(./fond.jpeg);
	background-repeat:no-repeat;
	font-family:verdana;
	font-size:11pt;
}

.cartes li {
	list-style-type: none;
	float: left;
	width: 45px;
	height: 67px;
	display: inline-block;
	background: url("SpriteCartes.png") no-repeat;
	margin-right: 10px;
}

li{
	list-style-type: none;
}

.bouton_inscription{
	margin-left:41px;
}

.titre{
	/*text-align:center;*/
	text-decoration:underline;
	font-size:13pt;
}

.h3{
	text-align:center;
	border-bottom-style: double;
	font-weight: bold;
	font-size:16pt;
	color:#370028;
}

.bouton{
	margin-left:145px;
}

.Connexion{
	text-align:center;
}

/*.Inscription{
	margin-left:125px;
}*/

.bouton_centre{
	margin-left:50%;
}

.saisie{
	margin-left:28px;
}

.souligne{
	text-decoration:underline;
}

.souligne_gras{
	text-decoration:underline;
	font-weight: bold;
}

.nomJoueurs, #plateau2{
	margin-left: auto;
  	margin-right: auto;
  	width: 700px; 
}
.cartesHori{
	height: 100px;
}
#plateau2{
	height: 200px;
	text-align: center;
	padding-top: 50px;
}